.img_port {
    width: 17vw;
    height: 20vh;
}

.portfolio_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.3rem;
}

.portfolio_iten {
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    height: 35vh;
    width: 20vw;
}
#portfolio {
    position: relative;
    bottom: 66vh;
}
.portfolio_iten > h3 {
    margin: 1rem 1rem;
}

#port_about {
    position: relative;
    left: 47vw;
}
#portfolio {
    position: relative;
    bottom: 65vh;
}

@media screen and (max-width: 600px) {
    #portfolio {
        bottom: 9vh;
        height: 233vh;
    }
    #port_about {
        left: 35vw;
    }
    .portfolio_container {
        grid-template-columns: repeat(1, 1fr);
    }
    .portfolio_iten {
        height: 44vh;
        width: 82vw;
    }
    .img_port {
        width: 68vw;
        height: 20vh;
    }
}